.quoteItem {
    padding: 10px 0;
}

.quoteItem > a {
    text-decoration: none;
}

.quoteItem > a > q {
    padding-right: 10px;
    color: #333;
}

.quoteItem > a > strong {
    padding-left: 10px;
    color: black;
}

.quoteItem > a:hover > q {
    text-decoration: underline;
    color: black;
}

.quoteItem > a:hover > strong {
    text-decoration: underline;
}

.quotesInfo {
    padding: 30px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}