.my-masonary-grid {
    display: flex;
    margin-left: -20px;
}

.my-masonary-grid_column {
    border-left: 20px solid transparent;
    background-clip: padding-box;
}

.my-masonary-grid_column > div {
    margin-bottom: 20px;
}

.my-masonary-grid_column > div > a {
    display: block;
    padding: 20px;
    color: #333;
    text-decoration: none;
    background: #ddd;
}

.my-masonary-grid_column > div > a:hover{
    color: #000;
    background: #eee;
}

.character {
    width: 100%;
}

.charName {
    padding: 10px 0;
    font-size: 16px;
}